extends layout

block append head 
  script(type='text/javascript', src='/javascripts/jquery.min.js')
  script(type='text/javascript', src='/socket.io/socket.io.js')
  script(type='text/javascript', src='/javascripts/rooms.js')
  script(type='text/javascript', src='/javascripts/game.js')
            
block content
  header#banner 
    #headerOne Game Not Started
  #container.container
    div("content"='')
      #player1.box No Player
        li#points1 No Points
        li#id1 No Id
      #player2.box No Player
        li#points2 No Points
        li#id2 No Id
      #player3.box No Player
        li#points3 No Points
        li#id3 No Id
      #player4.box No Player
        li#points4 No Points
        li#id4 No Id
      #player5.box No Player
        li#points5 No Points
        li#id5 No Id
      #player6.box No Player
        li#points6 No Points
        li#id6 No Id
  
  section#gameroom
    input#message(type='text', placeholder='Enter your question here') 
    input#letsStart(type='button', value='Start Game')
    input#answerit(type="button" value="Guess?")
    input#send(type='button', value='Submit Question')
    div#messages 
    div("content"='')
  footer 
    div#this_user(align='right')






