extends layout
        
block append head
  //script(type='text/javascript', src='/javascripts/jquery-1.11.0.min.js')
  script(type='text/javascript', src='/javascripts/landing.js')
 

block content
  header#banner
    h1 Welcome to
  section#welcome
    div Headbands
    span
    a#startgame(class="btn") Double click after
      input#nickname(type="text", placeholder="Creating User")
  footer Wanna Play?